body {
  background: black;  
}
#forfun {
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -200px;
    width: 0;
    height: 0;
    box-shadow:
      0px  0px 4px 5px #6C6E47,
      5px  0px 4px 5px #686B42,
     10px  0px 4px 5px #6E7146,
     15px  0px 4px 5px #6F7244,
     20px  0px 4px 5px #67683A,
     25px  0px 4px 5px #767146,
     30px  0px 4px 5px #747041,
     35px  0px 4px 5px #726D3C,
     40px  0px 4px 5px #746D38,
     45px  0px 4px 5px #706E37,
     50px  0px 4px 5px #767B4E,
     55px  0px 4px 5px #7C8451,
     60px  0px 4px 5px #77895B,
     65px  0px 4px 5px #75845A,
     70px  0px 4px 5px #7D8354,
     75px  0px 4px 5px #7B8152,
     80px  0px 4px 5px #858956,
     85px  0px 4px 5px #8E9363,
     90px  0px 4px 5px #919059,
     95px  0px 4px 5px #908949,
    100px  0px 4px 5px #908D51,
    105px  0px 4px 5px #8E8B51,
    110px  0px 4px 5px #929054,
    115px  0px 4px 5px #8F8A4D,
    120px  0px 4px 5px #948B52,
    125px  0px 4px 5px #8B894E,
    130px  0px 4px 5px #8B884E,
    135px  0px 4px 5px #8F8C54,
    140px  0px 4px 5px #8E8955,
    145px  0px 4px 5px #91864C,
    150px  0px 4px 5px #938855,
    155px  0px 4px 5px #93894F,
    160px  0px 4px 5px #9C8E5C,
    165px  0px 4px 5px #9F925B,
    170px  0px 4px 5px #9E9259,
    175px  0px 4px 5px #A7955D,
    180px  0px 4px 5px #A39355,
    185px  0px 4px 5px #9D9051,
    190px  0px 4px 5px #9C9151,
    195px  0px 4px 5px #9D9554,
    200px  0px 4px 5px #A39A59,
    205px  0px 4px 5px #9F9760,
    210px  0px 4px 5px #A3A168,
    215px  0px 4px 5px #A4A168,
    220px  0px 4px 5px #9C9C6C,
    225px  0px 4px 5px #A69F67,
    230px  0px 4px 5px #A8A681,
    235px  0px 4px 5px #A4A574,
    240px  0px 4px 5px #A8A170,
    245px  0px 4px 5px #B09F74,
    250px  0px 4px 5px #B4A77D,
    255px  0px 4px 5px #B2AC7C,
    260px  0px 4px 5px #B8B07D,
    265px  0px 4px 5px #B9B587,
    270px  0px 4px 5px #B6AF7F,
    275px  0px 4px 5px #B9B17B,
    280px  0px 4px 5px #BAB27C,
    285px  0px 4px 5px #B8AE7A,
    290px  0px 4px 5px #B4A96E,
    295px  0px 4px 5px #B8AB72,
    300px  0px 4px 5px #B9AC77,
    305px  0px 4px 5px #BBAE77,
    310px  0px 4px 5px #BDB27A,
    315px  0px 4px 5px #C2B980,
    320px  0px 4px 5px #C0B782,
    325px  0px 4px 5px #C7BE95,
    330px  0px 4px 5px #C7C58D,
    335px  0px 4px 5px #C7C284,
    340px  0px 4px 5px #C3C08C,
    345px  0px 4px 5px #C6BE80,
    350px  0px 4px 5px #C1B87B,
    355px  0px 4px 5px #BFB676,
    360px  0px 4px 5px #C6BA7C,
    365px  0px 4px 5px #C5B57C,
    370px  0px 4px 5px #C3B479,
    375px  0px 4px 5px #C8BA78,
    380px  0px 4px 5px #CDBD89,
    385px  0px 4px 5px #C8B77F,
    390px  0px 4px 5px #C4B67C,
    395px  0px 4px 5px #C8B97F,
    400px  0px 4px 5px #C8B67F,
    405px  0px 4px 5px #D3BF8C,
    410px  0px 4px 5px #D2C58F,
    415px  0px 4px 5px #CEC18A,
    420px  0px 4px 5px #CCBF8A,
    425px  0px 4px 5px #CDC18D,
    430px  0px 4px 5px #D0CA9A,
    435px  0px 4px 5px #CDC8A2,
    440px  0px 4px 5px #CCCFA1,
    445px  0px 4px 5px #C7C58D,
    450px  0px 4px 5px #CCC897,
    455px  0px 4px 5px #D0CC9D,
    460px  0px 4px 5px #D4D0A0,
    465px  0px 4px 5px #CECA93,
    470px  0px 4px 5px #D2C993,
    475px  0px 4px 5px #CFC487,
    480px  0px 4px 5px #C3B979,
    485px  0px 4px 5px #C6BD84,
    490px  0px 4px 5px #C4BF91,
    495px  0px 4px 5px #C1BF99,

      0px  5px 4px 5px #70734C,
      5px  5px 4px 5px #696943,
     10px  5px 4px 5px #6A6940,
     15px  5px 4px 5px #68683A,
     20px  5px 4px 5px #686738,
     25px  5px 4px 5px #726D3B,
     30px  5px 4px 5px #716B36,
     35px  5px 4px 5px #7E7842,
     40px  5px 4px 5px #7B7231,
     45px  5px 4px 5px #777135,
     50px  5px 4px 5px #7B7B48,
     55px  5px 4px 5px #76824E,
     60px  5px 4px 5px #798A5A,
     65px  5px 4px 5px #7D885A,
     70px  5px 4px 5px #888756,
     75px  5px 4px 5px #82834E,
     80px  5px 4px 5px #858750,
     85px  5px 4px 5px #8D8955,
     90px  5px 4px 5px #969259,
     95px  5px 4px 5px #968F52,
    100px  5px 4px 5px #9B965F,
    105px  5px 4px 5px #94915C,
    110px  5px 4px 5px #96955E,
    115px  5px 4px 5px #939156,
    120px  5px 4px 5px #958E4F,
    125px  5px 4px 5px #948E50,
    130px  5px 4px 5px #948F50,
    135px  5px 4px 5px #918D53,
    140px  5px 4px 5px #969155,
    145px  5px 4px 5px #9A8F4D,
    150px  5px 4px 5px #9B8D53,
    155px  5px 4px 5px #9E8F51,
    160px  5px 4px 5px #9C9055,
    165px  5px 4px 5px #A89C5F,
    170px  5px 4px 5px #A79B5E,
    175px  5px 4px 5px #AA965B,
    180px  5px 4px 5px #A69658,
    185px  5px 4px 5px #A79A5A,
    190px  5px 4px 5px #A59A57,
    195px  5px 4px 5px #AAA25E,
    200px  5px 4px 5px #A6A260,
    205px  5px 4px 5px #A69963,
    210px  5px 4px 5px #A5A166,
    215px  5px 4px 5px #A8A165,
    220px  5px 4px 5px #A9A16E,
    225px  5px 4px 5px #ACA572,
    230px  5px 4px 5px #ACA975,
    235px  5px 4px 5px #B4AB6E,
    240px  5px 4px 5px #B3A870,
    245px  5px 4px 5px #B9A874,
    250px  5px 4px 5px #B7A77B,
    255px  5px 4px 5px #B8AE7D,
    260px  5px 4px 5px #BCB17A,
    265px  5px 4px 5px #BDB680,
    270px  5px 4px 5px #BBB37A,
    275px  5px 4px 5px #BCAF6F,
    280px  5px 4px 5px #B8AD74,
    285px  5px 4px 5px #BCAF78,
    290px  5px 4px 5px #BCAE76,
    295px  5px 4px 5px #B9AF78,
    300px  5px 4px 5px #BBB379,
    305px  5px 4px 5px #C0B37D,
    310px  5px 4px 5px #C6BA80,
    315px  5px 4px 5px #C8BE82,
    320px  5px 4px 5px #C4BF7D,
    325px  5px 4px 5px #C1BA83,
    330px  5px 4px 5px #C8C288,
    335px  5px 4px 5px #CCC37F,
    340px  5px 4px 5px #CCC485,
    345px  5px 4px 5px #C9BE7E,
    350px  5px 4px 5px #C3B874,
    355px  5px 4px 5px #C3B676,
    360px  5px 4px 5px #C8B46F,
    365px  5px 4px 5px #C7B276,
    370px  5px 4px 5px #C9B67C,
    375px  5px 4px 5px #C9B574,
    380px  5px 4px 5px #C9B57F,
    385px  5px 4px 5px #C5B377,
    390px  5px 4px 5px #C6B373,
    395px  5px 4px 5px #CBB777,
    400px  5px 4px 5px #CEB97C,
    405px  5px 4px 5px #CCB882,
    410px  5px 4px 5px #CCBF85,
    415px  5px 4px 5px #D0C289,
    420px  5px 4px 5px #CDC08A,
    425px  5px 4px 5px #CEC28C,
    430px  5px 4px 5px #D3CCA0,
    435px  5px 4px 5px #D3CC9D,
    440px  5px 4px 5px #D2CD94,
    445px  5px 4px 5px #CBC58B,
    450px  5px 4px 5px #CEC894,
    455px  5px 4px 5px #D2CF98,
    460px  5px 4px 5px #D4D297,
    465px  5px 4px 5px #D2CF91,
    470px  5px 4px 5px #D0C98A,
    475px  5px 4px 5px #CEC381,
    480px  5px 4px 5px #C8BC7C,
    485px  5px 4px 5px #C7BC84,
    490px  5px 4px 5px #C4BE8E,
    495px  5px 4px 5px #C2BF95,

      0px 10px 4px 5px #687248,
      5px 10px 4px 5px #686B46,
     10px 10px 4px 5px #6C6943,
     15px 10px 4px 5px #6C6538,
     20px 10px 4px 5px #716C37,
     25px 10px 4px 5px #727037,
     30px 10px 4px 5px #757337,
     35px 10px 4px 5px #7B793F,
     40px 10px 4px 5px #7C7D3C,
     45px 10px 4px 5px #797C43,
     50px 10px 4px 5px #7E834F,
     55px 10px 4px 5px #808854,
     60px 10px 4px 5px #7E8456,
     65px 10px 4px 5px #828053,
     70px 10px 4px 5px #88824B,
     75px 10px 4px 5px #88834B,
     80px 10px 4px 5px #8A884D,
     85px 10px 4px 5px #90884F,
     90px 10px 4px 5px #958D54,
     95px 10px 4px 5px #918F54,
    100px 10px 4px 5px #93915A,
    105px 10px 4px 5px #979364,
    110px 10px 4px 5px #94955C,
    115px 10px 4px 5px #8E8E53,
    120px 10px 4px 5px #9A8F4B,
    125px 10px 4px 5px #9D9651,
    130px 10px 4px 5px #9A9052,
    135px 10px 4px 5px #9F9357,
    140px 10px 4px 5px #9D9457,
    145px 10px 4px 5px #9D8E4B,
    150px 10px 4px 5px #9E8C51,
    155px 10px 4px 5px #A08F4C,
    160px 10px 4px 5px #A59A53,
    165px 10px 4px 5px #9F9550,
    170px 10px 4px 5px #A3985A,
    175px 10px 4px 5px #A59355,
    180px 10px 4px 5px #AC9C5E,
    185px 10px 4px 5px #AB9F5A,
    190px 10px 4px 5px #ACA15F,
    195px 10px 4px 5px #AAA763,
    200px 10px 4px 5px #ABAA6D,
    205px 10px 4px 5px #B0A867,
    210px 10px 4px 5px #A89F5F,
    215px 10px 4px 5px #ABA163,
    220px 10px 4px 5px #A79E65,
    225px 10px 4px 5px #A9A56A,
    230px 10px 4px 5px #AFAC71,
    235px 10px 4px 5px #B0A569,
    240px 10px 4px 5px #B2A36A,
    245px 10px 4px 5px #AF9C66,
    250px 10px 4px 5px #B39F70,
    255px 10px 4px 5px #AB9D6F,
    260px 10px 4px 5px #B3A672,
    265px 10px 4px 5px #B9A676,
    270px 10px 4px 5px #B8A776,
    275px 10px 4px 5px #BAA76C,
    280px 10px 4px 5px #BEAF76,
    285px 10px 4px 5px #BFAF73,
    290px 10px 4px 5px #B9AD75,
    295px 10px 4px 5px #BAB780,
    300px 10px 4px 5px #B6B579,
    305px 10px 4px 5px #BBAF79,
    310px 10px 4px 5px #C0B477,
    315px 10px 4px 5px #C2B777,
    320px 10px 4px 5px #C4C380,
    325px 10px 4px 5px #C1BD7A,
    330px 10px 4px 5px #C2B970,
    335px 10px 4px 5px #CBBE76,
    340px 10px 4px 5px #CCBE78,
    345px 10px 4px 5px #CBBC79,
    350px 10px 4px 5px #C7B778,
    355px 10px 4px 5px #C7B575,
    360px 10px 4px 5px #C6AF6B,
    365px 10px 4px 5px #C8B272,
    370px 10px 4px 5px #C8B477,
    375px 10px 4px 5px #CDB673,
    380px 10px 4px 5px #D0B981,
    385px 10px 4px 5px #D3BF7F,
    390px 10px 4px 5px #CBB875,
    395px 10px 4px 5px #CEBC79,
    400px 10px 4px 5px #C9B97A,
    405px 10px 4px 5px #CEBB87,
    410px 10px 4px 5px #CDC186,
    415px 10px 4px 5px #D4C992,
    420px 10px 4px 5px #D2C590,
    425px 10px 4px 5px #D0C48C,
    430px 10px 4px 5px #D2C993,
    435px 10px 4px 5px #D3CC94,
    440px 10px 4px 5px #D6CD93,
    445px 10px 4px 5px #D1C687,
    450px 10px 4px 5px #D3CB92,
    455px 10px 4px 5px #D3D199,
    460px 10px 4px 5px #D6D39F,
    465px 10px 4px 5px #D3D09A,
    470px 10px 4px 5px #CFC987,
    475px 10px 4px 5px #D0C27E,
    480px 10px 4px 5px #C7B877,
    485px 10px 4px 5px #C7BA83,
    490px 10px 4px 5px #C6BE8B,
    495px 10px 4px 5px #C2BE8E,

      0px 15px 4px 5px #707B4C,
      5px 15px 4px 5px #707346,
     10px 15px 4px 5px #696C38,
     15px 15px 4px 5px #73753D,
     20px 15px 4px 5px #736E39,
     25px 15px 4px 5px #787444,
     30px 15px 4px 5px #7B7E47,
     35px 15px 4px 5px #7F7C46,
     40px 15px 4px 5px #847A48,
     45px 15px 4px 5px #848250,
     50px 15px 4px 5px #878755,
     55px 15px 4px 5px #828452,
     60px 15px 4px 5px #898552,
     65px 15px 4px 5px #8B824C,
     70px 15px 4px 5px #827D4A,
     75px 15px 4px 5px #8B864B,
     80px 15px 4px 5px #908653,
     85px 15px 4px 5px #918D5B,
     90px 15px 4px 5px #968F57,
     95px 15px 4px 5px #928C52,
    100px 15px 4px 5px #948750,
    105px 15px 4px 5px #948851,
    110px 15px 4px 5px #918D54,
    115px 15px 4px 5px #938C4E,
    120px 15px 4px 5px #9E9255,
    125px 15px 4px 5px #A39C55,
    130px 15px 4px 5px #A19758,
    135px 15px 4px 5px #9E9353,
    140px 15px 4px 5px #958A4F,
    145px 15px 4px 5px #A69657,
    150px 15px 4px 5px #AA9257,
    155px 15px 4px 5px #A49050,
    160px 15px 4px 5px #A49954,
    165px 15px 4px 5px #9E944F,
    170px 15px 4px 5px #A19655,
    175px 15px 4px 5px #AC9B59,
    180px 15px 4px 5px #AF9F5D,
    185px 15px 4px 5px #AA9F59,
    190px 15px 4px 5px #ADA268,
    195px 15px 4px 5px #AAA96D,
    200px 15px 4px 5px #AAAD70,
    205px 15px 4px 5px #B6AB69,
    210px 15px 4px 5px #B3A25F,
    215px 15px 4px 5px #B3A768,
    220px 15px 4px 5px #A9A366,
    225px 15px 4px 5px #9F955F,
    230px 15px 4px 5px #84744D,
    235px 15px 4px 5px #6A5739,
    240px 15px 4px 5px #523F28,
    245px 15px 4px 5px #51402A,
    250px 15px 4px 5px #48301F,
    255px 15px 4px 5px #463426,
    260px 15px 4px 5px #493628,
    265px 15px 4px 5px #533F2E,
    270px 15px 4px 5px #68533C,
    275px 15px 4px 5px #8B704C,
    280px 15px 4px 5px #A38B5A,
    285px 15px 4px 5px #B39C62,
    290px 15px 4px 5px #B6A86C,
    295px 15px 4px 5px #B3AB78,
    300px 15px 4px 5px #B7AD77,
    305px 15px 4px 5px #BFAF73,
    310px 15px 4px 5px #C3B377,
    315px 15px 4px 5px #C3B478,
    320px 15px 4px 5px #C4B97C,
    325px 15px 4px 5px #C3B875,
    330px 15px 4px 5px #CEC175,
    335px 15px 4px 5px #CEC175,
    340px 15px 4px 5px #CFBF85,
    345px 15px 4px 5px #C9C182,
    350px 15px 4px 5px #C2B781,
    355px 15px 4px 5px #CCB978,
    360px 15px 4px 5px #C9B476,
    365px 15px 4px 5px #CCB878,
    370px 15px 4px 5px #C6B371,
    375px 15px 4px 5px #CFB675,
    380px 15px 4px 5px #D0BE8F,
    385px 15px 4px 5px #CEBB84,
    390px 15px 4px 5px #CFBB7D,
    395px 15px 4px 5px #D0BD80,
    400px 15px 4px 5px #CBBC86,
    405px 15px 4px 5px #D0C390,
    410px 15px 4px 5px #D2C692,
    415px 15px 4px 5px #D4C796,
    420px 15px 4px 5px #CABD84,
    425px 15px 4px 5px #D3C78C,
    430px 15px 4px 5px #CEC48C,
    435px 15px 4px 5px #D4CF92,
    440px 15px 4px 5px #D7CE95,
    445px 15px 4px 5px #D5C98C,
    450px 15px 4px 5px #D6CD96,
    455px 15px 4px 5px #DBD7A9,
    460px 15px 4px 5px #DAD6A2,
    465px 15px 4px 5px #D3CF97,
    470px 15px 4px 5px #D6CE90,
    475px 15px 4px 5px #D2C486,
    480px 15px 4px 5px #CCBD7F,
    485px 15px 4px 5px #C7BA83,
    490px 15px 4px 5px #C3BB85,
    495px 15px 4px 5px #C3C089,

      0px 20px 4px 5px #76804C,
      5px 20px 4px 5px #6E7040,
     10px 20px 4px 5px #747846,
     15px 20px 4px 5px #7D7F53,
     20px 20px 4px 5px #7C7A4E,
     25px 20px 4px 5px #7F8255,
     30px 20px 4px 5px #7A7D4F,
     35px 20px 4px 5px #807C4D,
     40px 20px 4px 5px #82784C,
     45px 20px 4px 5px #807D4B,
     50px 20px 4px 5px #878651,
     55px 20px 4px 5px #918452,
     60px 20px 4px 5px #897D4A,
     65px 20px 4px 5px #908650,
     70px 20px 4px 5px #8B7D51,
     75px 20px 4px 5px #908550,
     80px 20px 4px 5px #8E8350,
     85px 20px 4px 5px #8E865B,
     90px 20px 4px 5px #918856,
     95px 20px 4px 5px #968D54,
    100px 20px 4px 5px #998D54,
    105px 20px 4px 5px #95894F,
    110px 20px 4px 5px #9C9154,
    115px 20px 4px 5px #998E4E,
    120px 20px 4px 5px #9D9254,
    125px 20px 4px 5px #A39C5D,
    130px 20px 4px 5px #A2985C,
    135px 20px 4px 5px #9F9455,
    140px 20px 4px 5px #9E9257,
    145px 20px 4px 5px #A08F50,
    150px 20px 4px 5px #A38C50,
    155px 20px 4px 5px #9E8D50,
    160px 20px 4px 5px #9D9152,
    165px 20px 4px 5px #A49656,
    170px 20px 4px 5px #AA9C60,
    175px 20px 4px 5px #AE9C5C,
    180px 20px 4px 5px #A99A58,
    185px 20px 4px 5px #ADA361,
    190px 20px 4px 5px #ACA76D,
    195px 20px 4px 5px #A7A86A,
    200px 20px 4px 5px #B5AE73,
    205px 20px 4px 5px #BBA86C,
    210px 20px 4px 5px #B49F5B,
    215px 20px 4px 5px #867243,
    220px 20px 4px 5px #553E2A,
    225px 20px 4px 5px #321C12,
    230px 20px 4px 5px #28130F,
    235px 20px 4px 5px #241411,
    240px 20px 4px 5px #231715,
    245px 20px 4px 5px #221815,
    250px 20px 4px 5px #261812,
    255px 20px 4px 5px #261914,
    260px 20px 4px 5px #2F1F15,
    265px 20px 4px 5px #311D18,
    270px 20px 4px 5px #2C1A16,
    275px 20px 4px 5px #2C1A14,
    280px 20px 4px 5px #3A2317,
    285px 20px 4px 5px #4E3625,
    290px 20px 4px 5px #745E3F,
    295px 20px 4px 5px #AD9465,
    300px 20px 4px 5px #BFA770,
    305px 20px 4px 5px #BFAD6E,
    310px 20px 4px 5px #C0AF73,
    315px 20px 4px 5px #C7B779,
    320px 20px 4px 5px #C6BB76,
    325px 20px 4px 5px #C9BD78,
    330px 20px 4px 5px #D0C37E,
    335px 20px 4px 5px #D0C279,
    340px 20px 4px 5px #CCBC7F,
    345px 20px 4px 5px #C6C286,
    350px 20px 4px 5px #C6BD8E,
    355px 20px 4px 5px #C9B378,
    360px 20px 4px 5px #CAB678,
    365px 20px 4px 5px #CDBA7A,
    370px 20px 4px 5px #CAB776,
    375px 20px 4px 5px #D0B576,
    380px 20px 4px 5px #CCB787,
    385px 20px 4px 5px #CFBD81,
    390px 20px 4px 5px #CEBB7A,
    395px 20px 4px 5px #D1BF82,
    400px 20px 4px 5px #CDBC87,
    405px 20px 4px 5px #D1C48D,
    410px 20px 4px 5px #D2C68D,
    415px 20px 4px 5px #D3C886,
    420px 20px 4px 5px #D4C887,
    425px 20px 4px 5px #DACD8F,
    430px 20px 4px 5px #D5CD88,
    435px 20px 4px 5px #D7D18D,
    440px 20px 4px 5px #DAD095,
    445px 20px 4px 5px #DACF91,
    450px 20px 4px 5px #D8CE93,
    455px 20px 4px 5px #DED9A0,
    460px 20px 4px 5px #DEDD9E,
    465px 20px 4px 5px #D5D292,
    470px 20px 4px 5px #DAD193,
    475px 20px 4px 5px #D4C788,
    480px 20px 4px 5px #CCBE7E,
    485px 20px 4px 5px #CABD84,
    490px 20px 4px 5px #C4BD88,
    495px 20px 4px 5px #C5C28D,

      0px 25px 4px 5px #6D7445,
      5px 25px 4px 5px #706F3E,
     10px 25px 4px 5px #787C4B,
     15px 25px 4px 5px #797C4F,
     20px 25px 4px 5px #7E834E,
     25px 25px 4px 5px #838656,
     30px 25px 4px 5px #7F8157,
     35px 25px 4px 5px #817C4E,
     40px 25px 4px 5px #7C7848,
     45px 25px 4px 5px #837C47,
     50px 25px 4px 5px #877F45,
     55px 25px 4px 5px #897E40,
     60px 25px 4px 5px #8F864C,
     65px 25px 4px 5px #908B53,
     70px 25px 4px 5px #908450,
     75px 25px 4px 5px #918450,
     80px 25px 4px 5px #978A56,
     85px 25px 4px 5px #938750,
     90px 25px 4px 5px #9A8E52,
     95px 25px 4px 5px #9C8F58,
    100px 25px 4px 5px #9B8F52,
    105px 25px 4px 5px #9C9152,
    110px 25px 4px 5px #A79B63,
    115px 25px 4px 5px #A39859,
    120px 25px 4px 5px #A99E5E,
    125px 25px 4px 5px #A89F65,
    130px 25px 4px 5px #A79A66,
    135px 25px 4px 5px #A79963,
    140px 25px 4px 5px #9F9256,
    145px 25px 4px 5px #A3914F,
    150px 25px 4px 5px #AB9756,
    155px 25px 4px 5px #AB9B55,
    160px 25px 4px 5px #AE9E55,
    165px 25px 4px 5px #A6924A,
    170px 25px 4px 5px #AC9A5C,
    175px 25px 4px 5px #B3A063,
    180px 25px 4px 5px #AE9E60,
    185px 25px 4px 5px #B1A565,
    190px 25px 4px 5px #B1A968,
    195px 25px 4px 5px #B1A968,
    200px 25px 4px 5px #B7AE6C,
    205px 25px 4px 5px #9A8955,
    210px 25px 4px 5px #473922,
    215px 25px 4px 5px #140C0B,
    220px 25px 4px 5px #2C1B13,
    225px 25px 4px 5px #523318,
    230px 25px 4px 5px #3C2117,
    235px 25px 4px 5px #211310,
    240px 25px 4px 5px #140E0C,
    245px 25px 4px 5px #100C0D,
    250px 25px 4px 5px #120E0F,
    255px 25px 4px 5px #0F0C0B,
    260px 25px 4px 5px #13100D,
    265px 25px 4px 5px #1A1211,
    270px 25px 4px 5px #1D1511,
    275px 25px 4px 5px #2E1914,
    280px 25px 4px 5px #3D231D,
    285px 25px 4px 5px #361E16,
    290px 25px 4px 5px #341E17,
    295px 25px 4px 5px #382213,
    300px 25px 4px 5px #6C583B,
    305px 25px 4px 5px #B6975D,
    310px 25px 4px 5px #C6AB64,
    315px 25px 4px 5px #C6B56E,
    320px 25px 4px 5px #C2B46D,
    325px 25px 4px 5px #CBBE7B,
    330px 25px 4px 5px #D2C785,
    335px 25px 4px 5px #CEC07C,
    340px 25px 4px 5px #CDBE7A,
    345px 25px 4px 5px #C7BC78,
    350px 25px 4px 5px #C2BA77,
    355px 25px 4px 5px #C7B76E,
    360px 25px 4px 5px #C9BB77,
    365px 25px 4px 5px #CCBB79,
    370px 25px 4px 5px #CEBB7B,
    375px 25px 4px 5px #CEB678,
    380px 25px 4px 5px #D1BB8A,
    385px 25px 4px 5px #D2C288,
    390px 25px 4px 5px #D2C582,
    395px 25px 4px 5px #D0C88A,
    400px 25px 4px 5px #CEC385,
    405px 25px 4px 5px #D7CE97,
    410px 25px 4px 5px #D9D293,
    415px 25px 4px 5px #D5CB83,
    420px 25px 4px 5px #D4C87D,
    425px 25px 4px 5px #D7CA7E,
    430px 25px 4px 5px #D9CF88,
    435px 25px 4px 5px #DDD291,
    440px 25px 4px 5px #DED393,
    445px 25px 4px 5px #DDD198,
    450px 25px 4px 5px #DED196,
    455px 25px 4px 5px #DED493,
    460px 25px 4px 5px #E0DE9B,
    465px 25px 4px 5px #D6D290,
    470px 25px 4px 5px #D8CD8D,
    475px 25px 4px 5px #D6CC88,
    480px 25px 4px 5px #D0C680,
    485px 25px 4px 5px #CCC082,
    490px 25px 4px 5px #C9C090,
    495px 25px 4px 5px #C5C191,

      0px 30px 4px 5px #687F4A,
      5px 30px 4px 5px #777D4A,
     10px 30px 4px 5px #757C47,
     15px 30px 4px 5px #777C47,
     20px 30px 4px 5px #82874D,
     25px 30px 4px 5px #808454,
     30px 30px 4px 5px #7A7D4D,
     35px 30px 4px 5px #75713A,
     40px 30px 4px 5px #807841,
     45px 30px 4px 5px #827845,
     50px 30px 4px 5px #8D8251,
     55px 30px 4px 5px #93874B,
     60px 30px 4px 5px #978B53,
     65px 30px 4px 5px #978859,
     70px 30px 4px 5px #92854F,
     75px 30px 4px 5px #9D9059,
     80px 30px 4px 5px #978A54,
     85px 30px 4px 5px #9C8D57,
     90px 30px 4px 5px #9D9057,
     95px 30px 4px 5px #9E9355,
    100px 30px 4px 5px #9F9354,
    105px 30px 4px 5px #A19656,
    110px 30px 4px 5px #ACA160,
    115px 30px 4px 5px #AA9F5E,
    120px 30px 4px 5px #B1A666,
    125px 30px 4px 5px #B0A15E,
    130px 30px 4px 5px #AC9F5B,
    135px 30px 4px 5px #A99E59,
    140px 30px 4px 5px #ADA160,
    145px 30px 4px 5px #AF9C55,
    150px 30px 4px 5px #B39D5A,
    155px 30px 4px 5px #BDA85E,
    160px 30px 4px 5px #B7A155,
    165px 30px 4px 5px #B29E50,
    170px 30px 4px 5px #B5A361,
    175px 30px 4px 5px #BAA76B,
    180px 30px 4px 5px #B5A567,
    185px 30px 4px 5px #B3A866,
    190px 30px 4px 5px #B6B06B,
    195px 30px 4px 5px #B0AB63,
    200px 30px 4px 5px #847B52,
    205px 30px 4px 5px #281C11,
    210px 30px 4px 5px #1C1009,
    215px 30px 4px 5px #21160D,
    220px 30px 4px 5px #452B14,
    225px 30px 4px 5px #684918,
    230px 30px 4px 5px #361F10,
    235px 30px 4px 5px #2D1A13,
    240px 30px 4px 5px #251912,
    245px 30px 4px 5px #1C140D,
    250px 30px 4px 5px #19130F,
    255px 30px 4px 5px #140F0D,
    260px 30px 4px 5px #130F0F,
    265px 30px 4px 5px #110E0D,
    270px 30px 4px 5px #0C0908,
    275px 30px 4px 5px #130B0A,
    280px 30px 4px 5px #261811,
    285px 30px 4px 5px #41281E,
    290px 30px 4px 5px #482A19,
    295px 30px 4px 5px #2E180D,
    300px 30px 4px 5px #20120E,
    305px 30px 4px 5px #412C1D,
    310px 30px 4px 5px #9D8756,
    315px 30px 4px 5px #C8B46E,
    320px 30px 4px 5px #CFBE74,
    325px 30px 4px 5px #CCBD74,
    330px 30px 4px 5px #D3CA81,
    335px 30px 4px 5px #D2C883,
    340px 30px 4px 5px #CDC188,
    345px 30px 4px 5px #CDC085,
    350px 30px 4px 5px #C8BB7D,
    355px 30px 4px 5px #CEC07F,
    360px 30px 4px 5px #CABF7E,
    365px 30px 4px 5px #C7B877,
    370px 30px 4px 5px #CBB977,
    375px 30px 4px 5px #CDBD81,
    380px 30px 4px 5px #D2C28C,
    385px 30px 4px 5px #D0C48B,
    390px 30px 4px 5px #D3C68A,
    395px 30px 4px 5px #D3C78D,
    400px 30px 4px 5px #D0C991,
    405px 30px 4px 5px #D5D39E,
    410px 30px 4px 5px #DCDB9B,
    415px 30px 4px 5px #E2D892,
    420px 30px 4px 5px #DED287,
    425px 30px 4px 5px #DDD082,
    430px 30px 4px 5px #DED58B,
    435px 30px 4px 5px #DFD590,
    440px 30px 4px 5px #DCD28E,
    445px 30px 4px 5px #DDD28C,
    450px 30px 4px 5px #E1D691,
    455px 30px 4px 5px #DDD490,
    460px 30px 4px 5px #DFD793,
    465px 30px 4px 5px #DBD38F,
    470px 30px 4px 5px #D8CD8A,
    475px 30px 4px 5px #D3C880,
    480px 30px 4px 5px #D7C988,
    485px 30px 4px 5px #D0C684,
    490px 30px 4px 5px #CABF8B,
    495px 30px 4px 5px #C8C08C,

      0px 35px 4px 5px #718D53,
      5px 35px 4px 5px #737B4B,
     10px 35px 4px 5px #717849,
     15px 35px 4px 5px #7B7F4B,
     20px 35px 4px 5px #747941,
     25px 35px 4px 5px #7A7E4D,
     30px 35px 4px 5px #797C4B,
     35px 35px 4px 5px #76723C,
     40px 35px 4px 5px #857B43,
     45px 35px 4px 5px #897F4B,
     50px 35px 4px 5px #8F8453,
     55px 35px 4px 5px #978D4F,
     60px 35px 4px 5px #968C51,
     65px 35px 4px 5px #988A55,
     70px 35px 4px 5px #968951,
     75px 35px 4px 5px #9A8E57,
     80px 35px 4px 5px #9C8E58,
     85px 35px 4px 5px #9E955C,
     90px 35px 4px 5px #9B9259,
     95px 35px 4px 5px #9B8F57,
    100px 35px 4px 5px #A4985C,
    105px 35px 4px 5px #A49B5C,
    110px 35px 4px 5px #AFA565,
    115px 35px 4px 5px #A89D5D,
    120px 35px 4px 5px #AA9E5F,
    125px 35px 4px 5px #AFA15D,
    130px 35px 4px 5px #A89D56,
    135px 35px 4px 5px #A79E55,
    140px 35px 4px 5px #ACA05D,
    145px 35px 4px 5px #AE9B54,
    150px 35px 4px 5px #BAA360,
    155px 35px 4px 5px #B8A259,
    160px 35px 4px 5px #B8A259,
    165px 35px 4px 5px #B7A75D,
    170px 35px 4px 5px #B7AC6A,
    175px 35px 4px 5px #B9AC71,
    180px 35px 4px 5px #BAA96C,
    185px 35px 4px 5px #B6A766,
    190px 35px 4px 5px #AFA05A,
    195px 35px 4px 5px #746B3D,
    200px 35px 4px 5px #201B11,
    205px 35px 4px 5px #26190E,
    210px 35px 4px 5px #382217,
    215px 35px 4px 5px #391F16,
    220px 35px 4px 5px #5C3B1C,
    225px 35px 4px 5px #6B4B1C,
    230px 35px 4px 5px #362211,
    235px 35px 4px 5px #352016,
    240px 35px 4px 5px #2B1C12,
    245px 35px 4px 5px #281D14,
    250px 35px 4px 5px #2C241E,
    255px 35px 4px 5px #1C1612,
    260px 35px 4px 5px #17130F,
    265px 35px 4px 5px #171310,
    270px 35px 4px 5px #120E0C,
    275px 35px 4px 5px #100C0C,
    280px 35px 4px 5px #080705,
    285px 35px 4px 5px #120706,
    290px 35px 4px 5px #23140D,
    295px 35px 4px 5px #322115,
    300px 35px 4px 5px #22140F,
    305px 35px 4px 5px #1A0D0C,
    310px 35px 4px 5px #23160F,
    315px 35px 4px 5px #887445,
    320px 35px 4px 5px #C7B36B,
    325px 35px 4px 5px #CEBD74,
    330px 35px 4px 5px #D0C77F,
    335px 35px 4px 5px #CDC57F,
    340px 35px 4px 5px #CFC48D,
    345px 35px 4px 5px #CDC187,
    350px 35px 4px 5px #D1C387,
    355px 35px 4px 5px #D0C183,
    360px 35px 4px 5px #CFC483,
    365px 35px 4px 5px #C5B97A,
    370px 35px 4px 5px #C8BB7E,
    375px 35px 4px 5px #CCBD81,
    380px 35px 4px 5px #D0C18A,
    385px 35px 4px 5px #D6CA93,
    390px 35px 4px 5px #D4CC97,
    395px 35px 4px 5px #D7CE98,
    400px 35px 4px 5px #CFC78F,
    405px 35px 4px 5px #DAD7A1,
    410px 35px 4px 5px #DDDA9C,
    415px 35px 4px 5px #DCD28D,
    420px 35px 4px 5px #E2D68F,
    425px 35px 4px 5px #DED188,
    430px 35px 4px 5px #E1D78E,
    435px 35px 4px 5px #DFD58D,
    440px 35px 4px 5px #E2D892,
    445px 35px 4px 5px #DCD38C,
    450px 35px 4px 5px #DFD58F,
    455px 35px 4px 5px #E0D691,
    460px 35px 4px 5px #E1D792,
    465px 35px 4px 5px #DCD28D,
    470px 35px 4px 5px #DDD48E,
    475px 35px 4px 5px #D6CA7F,
    480px 35px 4px 5px #DBCC8D,
    485px 35px 4px 5px #D4C987,
    490px 35px 4px 5px #CEC38D,
    495px 35px 4px 5px #C9BE89,

      0px 40px 4px 5px #778B4B,
      5px 40px 4px 5px #73784A,
     10px 40px 4px 5px #797845,
     15px 40px 4px 5px #6F723F,
     20px 40px 4px 5px #797D4B,
     25px 40px 4px 5px #7C814C,
     30px 40px 4px 5px #7E8249,
     35px 40px 4px 5px #848149,
     40px 40px 4px 5px #89844B,
     45px 40px 4px 5px #8B8448,
     50px 40px 4px 5px #989052,
     55px 40px 4px 5px #9E9455,
     60px 40px 4px 5px #9C9257,
     65px 40px 4px 5px #9D9557,
     70px 40px 4px 5px #938F4B,
     75px 40px 4px 5px #9A8F58,
     80px 40px 4px 5px #A0925F,
     85px 40px 4px 5px #A29860,
     90px 40px 4px 5px #9F965D,
     95px 40px 4px 5px #A59D61,
    100px 40px 4px 5px #A39F64,
    105px 40px 4px 5px #A2A064,
    110px 40px 4px 5px #ADA866,
    115px 40px 4px 5px #A89D5F,
    120px 40px 4px 5px #A99D61,
    125px 40px 4px 5px #B4A062,
    130px 40px 4px 5px #A19554,
    135px 40px 4px 5px #A69C55,
    140px 40px 4px 5px #AC9F57,
    145px 40px 4px 5px #B1A05A,
    150px 40px 4px 5px #BAA35F,
    155px 40px 4px 5px #B7A05C,
    160px 40px 4px 5px #C1AA6B,
    165px 40px 4px 5px #B8A961,
    170px 40px 4px 5px #B8AD70,
    175px 40px 4px 5px #B9AB7A,
    180px 40px 4px 5px #BDAD76,
    185px 40px 4px 5px #BBA46E,
    190px 40px 4px 5px #785E32,
    195px 40px 4px 5px #2C1F15,
    200px 40px 4px 5px #2C1D11,
    205px 40px 4px 5px #3E2715,
    210px 40px 4px 5px #402B16,
    215px 40px 4px 5px #4A2D16,
    220px 40px 4px 5px #744F25,
    225px 40px 4px 5px #6B4E27,
    230px 40px 4px 5px #402D18,
    235px 40px 4px 5px #3F2817,
    240px 40px 4px 5px #362215,
    245px 40px 4px 5px #301F15,
    250px 40px 4px 5px #251C14,
    255px 40px 4px 5px #1C1914,
    260px 40px 4px 5px #19160F,
    265px 40px 4px 5px #181411,
    270px 40px 4px 5px #171310,
    275px 40px 4px 5px #15110E,
    280px 40px 4px 5px #120E0B,
    285px 40px 4px 5px #100C09,
    290px 40px 4px 5px #0D0906,
    295px 40px 4px 5px #150B06,
    300px 40px 4px 5px #1E110C,
    305px 40px 4px 5px #201414,
    310px 40px 4px 5px #150F0F,
    315px 40px 4px 5px #221613,
    320px 40px 4px 5px #967B51,
    325px 40px 4px 5px #D0BA75,
    330px 40px 4px 5px #D2C67E,
    335px 40px 4px 5px #D3CA82,
    340px 40px 4px 5px #DAD097,
    345px 40px 4px 5px #D5CF97,
    350px 40px 4px 5px #D0C584,
    355px 40px 4px 5px #D0C383,
    360px 40px 4px 5px #C5BA7D,
    365px 40px 4px 5px #C8BA7C,
    370px 40px 4px 5px #CDBD7F,
    375px 40px 4px 5px #CEC383,
    380px 40px 4px 5px #CEC285,
    385px 40px 4px 5px #CEC289,
    390px 40px 4px 5px #CDC897,
    395px 40px 4px 5px #D8D29F,
    400px 40px 4px 5px #DAD198,
    405px 40px 4px 5px #DDD394,
    410px 40px 4px 5px #E0D595,
    415px 40px 4px 5px #DCD28D,
    420px 40px 4px 5px #E3DA98,
    425px 40px 4px 5px #E5DD9C,
    430px 40px 4px 5px #E7DD96,
    435px 40px 4px 5px #E7DD95,
    440px 40px 4px 5px #E3D991,
    445px 40px 4px 5px #DFD796,
    450px 40px 4px 5px #E6DD9B,
    455px 40px 4px 5px #DFD590,
    460px 40px 4px 5px #E0D691,
    465px 40px 4px 5px #E0D690,
    470px 40px 4px 5px #D8D28A,
    475px 40px 4px 5px #D8CA7A,
    480px 40px 4px 5px #DCCD8D,
    485px 40px 4px 5px #D6CA8E,
    490px 40px 4px 5px #CDC188,
    495px 40px 4px 5px #CCBF88,

      0px 45px 4px 5px #6F7B44,
      5px 45px 4px 5px #797B4B,
     10px 45px 4px 5px #7B7E47,
     15px 45px 4px 5px #7D824F,
     20px 45px 4px 5px #7A7C4A,
     25px 45px 4px 5px #797E49,
     30px 45px 4px 5px #84884F,
     35px 45px 4px 5px #89844D,
     40px 45px 4px 5px #90864C,
     45px 45px 4px 5px #948B50,
     50px 45px 4px 5px #9A9256,
     55px 45px 4px 5px #999658,
     60px 45px 4px 5px #9A9455,
     65px 45px 4px 5px #969158,
     70px 45px 4px 5px #9A945F,
     75px 45px 4px 5px #A29A64,
     80px 45px 4px 5px #A49A60,
     85px 45px 4px 5px #A0935B,
     90px 45px 4px 5px #A49D63,
     95px 45px 4px 5px #A49E68,
    100px 45px 4px 5px #A9A26C,
    105px 45px 4px 5px #A6A165,
    110px 45px 4px 5px #AAA465,
    115px 45px 4px 5px #A9A061,
    120px 45px 4px 5px #ADA464,
    125px 45px 4px 5px #B1A367,
    130px 45px 4px 5px #A9A067,
    135px 45px 4px 5px #ABA05E,
    140px 45px 4px 5px #ADA25A,
    145px 45px 4px 5px #B3A660,
    150px 45px 4px 5px #B3A060,
    155px 45px 4px 5px #B7A363,
    160px 45px 4px 5px #BAA668,
    165px 45px 4px 5px #B9AC6D,
    170px 45px 4px 5px #B8AC74,
    175px 45px 4px 5px #BEB07E,
    180px 45px 4px 5px #BCB27C,
    185px 45px 4px 5px #88775B,
    190px 45px 4px 5px #261A10,
    195px 45px 4px 5px #1C150D,
    200px 45px 4px 5px #291B0E,
    205px 45px 4px 5px #3D2615,
    210px 45px 4px 5px #4B341A,
    215px 45px 4px 5px #684B21,
    220px 45px 4px 5px #8C662C,
    225px 45px 4px 5px #715123,
    230px 45px 4px 5px #57401D,
    235px 45px 4px 5px #4D341A,
    240px 45px 4px 5px #3F2B18,
    245px 45px 4px 5px #342416,
    250px 45px 4px 5px #1D140B,
    255px 45px 4px 5px #181813,
    260px 45px 4px 5px #191717,
    265px 45px 4px 5px #1B1715,
    270px 45px 4px 5px #171310,
    275px 45px 4px 5px #120E0B,
    280px 45px 4px 5px #0F0B0A,
    285px 45px 4px 5px #120E0D,
    290px 45px 4px 5px #0F0B0B,
    295px 45px 4px 5px #0C0708,
    300px 45px 4px 5px #100A0C,
    305px 45px 4px 5px #1C1010,
    310px 45px 4px 5px #1E1412,
    315px 45px 4px 5px #170A0A,
    320px 45px 4px 5px #2A1813,
    325px 45px 4px 5px #9F8F58,
    330px 45px 4px 5px #D2BE72,
    335px 45px 4px 5px #E0D48E,
    340px 45px 4px 5px #D6C98C,
    345px 45px 4px 5px #D2C886,
    350px 45px 4px 5px #CFCA89,
    355px 45px 4px 5px #CDC68B,
    360px 45px 4px 5px #C9BA7A,
    365px 45px 4px 5px #D0BF80,
    370px 45px 4px 5px #D2C381,
    375px 45px 4px 5px #D3C887,
    380px 45px 4px 5px #D2C58C,
    385px 45px 4px 5px #D1C58E,
    390px 45px 4px 5px #CCC796,
    395px 45px 4px 5px #D1CC97,
    400px 45px 4px 5px #D8CD95,
    405px 45px 4px 5px #DDD293,
    410px 45px 4px 5px #DED390,
    415px 45px 4px 5px #DED48F,
    420px 45px 4px 5px #E2D997,
    425px 45px 4px 5px #E6DE9D,
    430px 45px 4px 5px #EEE4A6,
    435px 45px 4px 5px #E6DC99,
    440px 45px 4px 5px #E3D991,
    445px 45px 4px 5px #E4E09E,
    450px 45px 4px 5px #E3DF9C,
    455px 45px 4px 5px #DFDB97,
    460px 45px 4px 5px #DED792,
    465px 45px 4px 5px #DED690,
    470px 45px 4px 5px #DED58F,
    475px 45px 4px 5px #D7CC80,
    480px 45px 4px 5px #DACE8F,
    485px 45px 4px 5px #D5CB91,
    490px 45px 4px 5px #CEC287,
    495px 45px 4px 5px #CDC184,

      0px 50px 4px 5px #767B4D,
      5px 50px 4px 5px #7F8859,
     10px 50px 4px 5px #7D925F,
     15px 50px 4px 5px #858E57,
     20px 50px 4px 5px #868951,
     25px 50px 4px 5px #8A8F54,
     30px 50px 4px 5px #8D9253,
     35px 50px 4px 5px #8E8B4E,
     40px 50px 4px 5px #948C53,
     45px 50px 4px 5px #978F56,
     50px 50px 4px 5px #968D54,
     55px 50px 4px 5px #978C53,
     60px 50px 4px 5px #949461,
     65px 50px 4px 5px #92966A,
     70px 50px 4px 5px #9B9867,
     75px 50px 4px 5px #A49A62,
     80px 50px 4px 5px #9F9356,
     85px 50px 4px 5px #A2935B,
     90px 50px 4px 5px #A59E63,
     95px 50px 4px 5px #A59D64,
    100px 50px 4px 5px #AFA16A,
    105px 50px 4px 5px #ADA05F,
    110px 50px 4px 5px #B5A966,
    115px 50px 4px 5px #B1A765,
    120px 50px 4px 5px #ACA463,
    125px 50px 4px 5px #B0A265,
    130px 50px 4px 5px #A8A066,
    135px 50px 4px 5px #AB9F5E,
    140px 50px 4px 5px #AFA45D,
    145px 50px 4px 5px #B1A560,
    150px 50px 4px 5px #B7A769,
    155px 50px 4px 5px #BBA86B,
    160px 50px 4px 5px #BEAB6E,
    165px 50px 4px 5px #C5B67B,
    170px 50px 4px 5px #BDB079,
    175px 50px 4px 5px #C0B37F,
    180px 50px 4px 5px #B6A670,
    185px 50px 4px 5px #3E3322,
    190px 50px 4px 5px #20150E,
    195px 50px 4px 5px #321D0F,
    200px 50px 4px 5px #4D351B,
    205px 50px 4px 5px #83612C,
    210px 50px 4px 5px #A8803E,
    215px 50px 4px 5px #CA9957,
    220px 50px 4px 5px #CF9D52,
    225px 50px 4px 5px #D9AA5C,
    230px 50px 4px 5px #C99F55,
    235px 50px 4px 5px #C38E46,
    240px 50px 4px 5px #B18340,
    245px 50px 4px 5px #9E7336,
    250px 50px 4px 5px #7E5730,
    255px 50px 4px 5px #47311A,
    260px 50px 4px 5px #271715,
    265px 50px 4px 5px #18120F,
    270px 50px 4px 5px #16120F,
    275px 50px 4px 5px #120E0B,
    280px 50px 4px 5px #110D0D,
    285px 50px 4px 5px #141010,
    290px 50px 4px 5px #0E0A0B,
    295px 50px 4px 5px #0E0A0B,
    300px 50px 4px 5px #130E0F,
    305px 50px 4px 5px #160B0B,
    310px 50px 4px 5px #1C1010,
    315px 50px 4px 5px #160A0A,
    320px 50px 4px 5px #140E0B,
    325px 50px 4px 5px #382B18,
    330px 50px 4px 5px #C0A86E,
    335px 50px 4px 5px #D4C785,
    340px 50px 4px 5px #CDC183,
    345px 50px 4px 5px #D4CA82,
    350px 50px 4px 5px #CECD8A,
    355px 50px 4px 5px #D5D2A2,
    360px 50px 4px 5px #D2CD98,
    365px 50px 4px 5px #D6CC95,
    370px 50px 4px 5px #D3CC8B,
    375px 50px 4px 5px #D4CA83,
    380px 50px 4px 5px #D7C895,
    385px 50px 4px 5px #D2C88E,
    390px 50px 4px 5px #D4D199,
    395px 50px 4px 5px #D4CF95,
    400px 50px 4px 5px #D9CD95,
    405px 50px 4px 5px #DDD292,
    410px 50px 4px 5px #E0D691,
    415px 50px 4px 5px #E3D994,
    420px 50px 4px 5px #E7DF9C,
    425px 50px 4px 5px #EAE2A1,
    430px 50px 4px 5px #E9E2A1,
    435px 50px 4px 5px #E2D995,
    440px 50px 4px 5px #E0D68E,
    445px 50px 4px 5px #E3E19E,
    450px 50px 4px 5px #E4E2A0,
    455px 50px 4px 5px #DDDC99,
    460px 50px 4px 5px #DED893,
    465px 50px 4px 5px #DFD792,
    470px 50px 4px 5px #DED490,
    475px 50px 4px 5px #DAD086,
    480px 50px 4px 5px #D7CC8E,
    485px 50px 4px 5px #D2C991,
    490px 50px 4px 5px #CFC588,
    495px 50px 4px 5px #CCC182,

      0px 55px 4px 5px #7E794A,
      5px 55px 4px 5px #7C7F54,
     10px 55px 4px 5px #838F61,
     15px 55px 4px 5px #8D915D,
     20px 55px 4px 5px #8D915E,
     25px 55px 4px 5px #909059,
     30px 55px 4px 5px #8F8D4F,
     35px 55px 4px 5px #919151,
     40px 55px 4px 5px #92935A,
     45px 55px 4px 5px #918F5F,
     50px 55px 4px 5px #8F8D54,
     55px 55px 4px 5px #908E53,
     60px 55px 4px 5px #969465,
     65px 55px 4px 5px #96986C,
     70px 55px 4px 5px #9D9555,
     75px 55px 4px 5px #9F9455,
     80px 55px 4px 5px #A8985A,
     85px 55px 4px 5px #A9995B,
     90px 55px 4px 5px #A8995C,
     95px 55px 4px 5px #AB9F63,
    100px 55px 4px 5px #B2A66A,
    105px 55px 4px 5px #B4A86C,
    110px 55px 4px 5px #B0AC69,
    115px 55px 4px 5px #ACA463,
    120px 55px 4px 5px #AFA464,
    125px 55px 4px 5px #B0A467,
    130px 55px 4px 5px #B1A769,
    135px 55px 4px 5px #B0A164,
    140px 55px 4px 5px #B2A260,
    145px 55px 4px 5px #B7A55F,
    150px 55px 4px 5px #BDA45F,
    155px 55px 4px 5px #BEAD6B,
    160px 55px 4px 5px #C1B373,
    165px 55px 4px 5px #C0B685,
    170px 55px 4px 5px #BEB986,
    175px 55px 4px 5px #C3B07E,
    180px 55px 4px 5px #786440,
    185px 55px 4px 5px #281E1A,
    190px 55px 4px 5px #4C371C,
    195px 55px 4px 5px #A27841,
    200px 55px 4px 5px #C9A05F,
    205px 55px 4px 5px #DDB16E,
    210px 55px 4px 5px #E9BF76,
    215px 55px 4px 5px #E6BE70,
    220px 55px 4px 5px #E6BF73,
    225px 55px 4px 5px #E6C374,
    230px 55px 4px 5px #E3B967,
    235px 55px 4px 5px #E3B364,
    240px 55px 4px 5px #D9A95C,
    245px 55px 4px 5px #D6A24D,
    250px 55px 4px 5px #CC9543,
    255px 55px 4px 5px #AC7832,
    260px 55px 4px 5px #734D23,
    265px 55px 4px 5px #422F1A,
    270px 55px 4px 5px #2A2015,
    275px 55px 4px 5px #1F1812,
    280px 55px 4px 5px #140F0C,
    285px 55px 4px 5px #110D0B,
    290px 55px 4px 5px #0E0A0B,
    295px 55px 4px 5px #130F10,
    300px 55px 4px 5px #151112,
    305px 55px 4px 5px #151112,
    310px 55px 4px 5px #150D10,
    315px 55px 4px 5px #14080C,
    320px 55px 4px 5px #130F10,
    325px 55px 4px 5px #110B0A,
    330px 55px 4px 5px #5F4D2D,
    335px 55px 4px 5px #D1BF7E,
    340px 55px 4px 5px #D2C782,
    345px 55px 4px 5px #D6CC87,
    350px 55px 4px 5px #D0CB91,
    355px 55px 4px 5px #D9D4AD,
    360px 55px 4px 5px #D7D1A3,
    365px 55px 4px 5px #D3CB97,
    370px 55px 4px 5px #D6D499,
    375px 55px 4px 5px #DBD090,
    380px 55px 4px 5px #D7CC8C,
    385px 55px 4px 5px #DACF8F,
    390px 55px 4px 5px #DED199,
    395px 55px 4px 5px #DFD399,
    400px 55px 4px 5px #DFD494,
    405px 55px 4px 5px #E2D797,
    410px 55px 4px 5px #E2D897,
    415px 55px 4px 5px #E9DF9A,
    420px 55px 4px 5px #E8DE99,
    425px 55px 4px 5px #ECE0A3,
    430px 55px 4px 5px #E6DB9E,
    435px 55px 4px 5px #E9DDA4,
    440px 55px 4px 5px #E6DB9B,
    445px 55px 4px 5px #E2D9A0,
    450px 55px 4px 5px #E4DEA2,
    455px 55px 4px 5px #DCDB98,
    460px 55px 4px 5px #DFD897,
    465px 55px 4px 5px #DBD594,
    470px 55px 4px 5px #DFD595,
    475px 55px 4px 5px #DBC983,
    480px 55px 4px 5px #DBCF91,
    485px 55px 4px 5px #D2CA8E,
    490px 55px 4px 5px #D4CA8B,
    495px 55px 4px 5px #D1C589,

      0px 60px 4px 5px #797748,
      5px 60px 4px 5px #797D49,
     10px 60px 4px 5px #888B54,
     15px 60px 4px 5px #93965E,
     20px 60px 4px 5px #8C915A,
     25px 60px 4px 5px #92935B,
     30px 60px 4px 5px #8B8A4A,
     35px 60px 4px 5px #8E8F55,
     40px 60px 4px 5px #969961,
     45px 60px 4px 5px #9A995E,
     50px 60px 4px 5px #969456,
     55px 60px 4px 5px #959350,
     60px 60px 4px 5px #938E53,
     65px 60px 4px 5px #999459,
     70px 60px 4px 5px #9A9452,
     75px 60px 4px 5px #A39753,
     80px 60px 4px 5px #A99754,
     85px 60px 4px 5px #AD9B5A,
     90px 60px 4px 5px #AF9E61,
     95px 60px 4px 5px #AB9F61,
    100px 60px 4px 5px #B1A465,
    105px 60px 4px 5px #B4AB6D,
    110px 60px 4px 5px #B0AB69,
    115px 60px 4px 5px #B1A567,
    120px 60px 4px 5px #ACA263,
    125px 60px 4px 5px #AEA065,
    130px 60px 4px 5px #B1A263,
    135px 60px 4px 5px #B9A661,
    140px 60px 4px 5px #B8A662,
    145px 60px 4px 5px #BAA965,
    150px 60px 4px 5px #C2B16E,
    155px 60px 4px 5px #C4B675,
    160px 60px 4px 5px #C9BC7E,
    165px 60px 4px 5px #BEB584,
    170px 60px 4px 5px #BEB581,
    175px 60px 4px 5px #AA9767,
    180px 60px 4px 5px #382C17,
    185px 60px 4px 5px #452E19,
    190px 60px 4px 5px #AF7C34,
    195px 60px 4px 5px #CA9546,
    200px 60px 4px 5px #DBB261,
    205px 60px 4px 5px #E1C173,
    210px 60px 4px 5px #EACD82,
    215px 60px 4px 5px #EFD482,
    220px 60px 4px 5px #F2D580,
    225px 60px 4px 5px #F2D486,
    230px 60px 4px 5px #F2D17E,
    235px 60px 4px 5px #F1C872,
    240px 60px 4px 5px #EDBF6A,
    245px 60px 4px 5px #E7B75E,
    250px 60px 4px 5px #E2AC55,
    255px 60px 4px 5px #CB933F,
    260px 60px 4px 5px #9D6B27,
    265px 60px 4px 5px #735023,
    270px 60px 4px 5px #49331E,
    275px 60px 4px 5px #261E13,
    280px 60px 4px 5px #1B1410,
    285px 60px 4px 5px #160F0C,
    290px 60px 4px 5px #100C0B,
    295px 60px 4px 5px #0D0909,
    300px 60px 4px 5px #120E0F,
    305px 60px 4px 5px #100C0B,
    310px 60px 4px 5px #140E0F,
    315px 60px 4px 5px #140C0E,
    320px 60px 4px 5px #0D0B0C,
    325px 60px 4px 5px #0E0A0C,
    330px 60px 4px 5px #1C1009,
    335px 60px 4px 5px #95804C,
    340px 60px 4px 5px #D2C683,
    345px 60px 4px 5px #E0D593,
    350px 60px 4px 5px #DAD394,
    355px 60px 4px 5px #D9D39D,
    360px 60px 4px 5px #DAD4A0,
    365px 60px 4px 5px #D5D099,
    370px 60px 4px 5px #DAD395,
    375px 60px 4px 5px #DBD599,
    380px 60px 4px 5px #E2D9A4,
    385px 60px 4px 5px #DDD398,
    390px 60px 4px 5px #DFD598,
    395px 60px 4px 5px #E4D898,
    400px 60px 4px 5px #E8DB99,
    405px 60px 4px 5px #E7DC9A,
    410px 60px 4px 5px #E9DE9B,
    415px 60px 4px 5px #ECE09A,
    420px 60px 4px 5px #E6DA95,
    425px 60px 4px 5px #E6D998,
    430px 60px 4px 5px #E2D790,
    435px 60px 4px 5px #EBE0A5,
    440px 60px 4px 5px #E6DC9C,
    445px 60px 4px 5px #E5DFA6,
    450px 60px 4px 5px #E4E0A7,
    455px 60px 4px 5px #DEDEA3,
    460px 60px 4px 5px #E1DCA0,
    465px 60px 4px 5px #DED999,
    470px 60px 4px 5px #DBD18F,
    475px 60px 4px 5px #DACA81,
    480px 60px 4px 5px #DED191,
    485px 60px 4px 5px #DAD28A,
    490px 60px 4px 5px #D2C885,
    495px 60px 4px 5px #D3C789,

      0px 65px 4px 5px #75733B,
      5px 65px 4px 5px #797F3C,
     10px 65px 4px 5px #7C834D,
     15px 65px 4px 5px #888E55,
     20px 65px 4px 5px #858A50,
     25px 65px 4px 5px #949658,
     30px 65px 4px 5px #8F904D,
     35px 65px 4px 5px #8C8E5A,
     40px 65px 4px 5px #8E945C,
     45px 65px 4px 5px #999B4D,
     50px 65px 4px 5px #999855,
     55px 65px 4px 5px #9B954B,
     60px 65px 4px 5px #9E9654,
     65px 65px 4px 5px #A59D5C,
     70px 65px 4px 5px #A79757,
     75px 65px 4px 5px #AF9851,
     80px 65px 4px 5px #AA9248,
     85px 65px 4px 5px #AEA152,
     90px 65px 4px 5px #ADA15B,
     95px 65px 4px 5px #B3A868,
    100px 65px 4px 5px #B6A761,
    105px 65px 4px 5px #B2B06A,
    110px 65px 4px 5px #B1AF6C,
    115px 65px 4px 5px #B9A567,
    120px 65px 4px 5px #B3A161,
    125px 65px 4px 5px #B4A466,
    130px 65px 4px 5px #B8A667,
    135px 65px 4px 5px #BEAB63,
    140px 65px 4px 5px #C0AD68,
    145px 65px 4px 5px #BEAC68,
    150px 65px 4px 5px #C8B976,
    155px 65px 4px 5px #CBBE80,
    160px 65px 4px 5px #C8BC82,
    165px 65px 4px 5px #BFB98D,
    170px 65px 4px 5px #B3A876,
    175px 65px 4px 5px #755C39,
    180px 65px 4px 5px #2D1E1A,
    185px 65px 4px 5px #7B5A2C,
    190px 65px 4px 5px #C89441,
    195px 65px 4px 5px #E5B662,
    200px 65px 4px 5px #ECD381,
    205px 65px 4px 5px #F2DB90,
    210px 65px 4px 5px #F3DD94,
    215px 65px 4px 5px #F7E193,
    220px 65px 4px 5px #F4D989,
    225px 65px 4px 5px #F9E092,
    230px 65px 4px 5px #F5DD8B,
    235px 65px 4px 5px #F4D584,
    240px 65px 4px 5px #F8CD78,
    245px 65px 4px 5px #F4C771,
    250px 65px 4px 5px #F5C165,
    255px 65px 4px 5px #DCA548,
    260px 65px 4px 5px #C38E39,
    265px 65px 4px 5px #9E6C29,
    270px 65px 4px 5px #775527,
    275px 65px 4px 5px #453017,
    280px 65px 4px 5px #2A1D17,
    285px 65px 4px 5px #1B110D,
    290px 65px 4px 5px #110D0A,
    295px 65px 4px 5px #0D0909,
    300px 65px 4px 5px #110D0E,
    305px 65px 4px 5px #0D0906,
    310px 65px 4px 5px #110D0C,
    315px 65px 4px 5px #171314,
    320px 65px 4px 5px #0C0B0B,
    325px 65px 4px 5px #0A0908,
    330px 65px 4px 5px #100C09,
    335px 65px 4px 5px #483B1A,
    340px 65px 4px 5px #C6B878,
    345px 65px 4px 5px #DCD191,
    350px 65px 4px 5px #DFD59A,
    355px 65px 4px 5px #D9D199,
    360px 65px 4px 5px #D8D7A6,
    365px 65px 4px 5px #D9D7A2,
    370px 65px 4px 5px #D9CF96,
    375px 65px 4px 5px #DEDBA4,
    380px 65px 4px 5px #E3DCB0,
    385px 65px 4px 5px #E5DCA6,
    390px 65px 4px 5px #DFD897,
    395px 65px 4px 5px #E5D892,
    400px 65px 4px 5px #ECDD9A,
    405px 65px 4px 5px #ECE19C,
    410px 65px 4px 5px #E9DF99,
    415px 65px 4px 5px #EBDD96,
    420px 65px 4px 5px #EDDE9A,
    425px 65px 4px 5px #ECDE9A,
    430px 65px 4px 5px #F0E69D,
    435px 65px 4px 5px #EEE4A6,
    440px 65px 4px 5px #EDE5A4,
    445px 65px 4px 5px #EAE7AF,
    450px 65px 4px 5px #E8E6B1,
    455px 65px 4px 5px #E7E7B5,
    460px 65px 4px 5px #E6E4AE,
    465px 65px 4px 5px #DDDA9A,
    470px 65px 4px 5px #DBD18C,
    475px 65px 4px 5px #DCD184,
    480px 65px 4px 5px #DECF8E,
    485px 65px 4px 5px #D6CC87,
    490px 65px 4px 5px #D3C986,
    495px 65px 4px 5px #D0C585,

      0px 70px 4px 5px #837F43,
      5px 70px 4px 5px #7D8448,
     10px 70px 4px 5px #79844C,
     15px 70px 4px 5px #838844,
     20px 70px 4px 5px #88884C,
     25px 70px 4px 5px #878D4B,
     30px 70px 4px 5px #8E914F,
     35px 70px 4px 5px #969865,
     40px 70px 4px 5px #90995C,
     45px 70px 4px 5px #9B9754,
     50px 70px 4px 5px #A3A15F,
     55px 70px 4px 5px #A4A05D,
     60px 70px 4px 5px #A6A062,
     65px 70px 4px 5px #A9A163,
     70px 70px 4px 5px #A99B58,
     75px 70px 4px 5px #A99D59,
     80px 70px 4px 5px #A9A25D,
     85px 70px 4px 5px #AFA563,
     90px 70px 4px 5px #ACA259,
     95px 70px 4px 5px #B3A864,
    100px 70px 4px 5px #B8AB68,
    105px 70px 4px 5px #BBAD6A,
    110px 70px 4px 5px #B6AA6E,
    115px 70px 4px 5px #B5A869,
    120px 70px 4px 5px #B4A669,
    125px 70px 4px 5px #BDB177,
    130px 70px 4px 5px #BBB06E,
    135px 70px 4px 5px #BFB067,
    140px 70px 4px 5px #B9AF63,
    145px 70px 4px 5px #BDB573,
    150px 70px 4px 5px #C7B773,
    155px 70px 4px 5px #C5BB7C,
    160px 70px 4px 5px #C6BF81,
    165px 70px 4px 5px #C3B97B,
    170px 70px 4px 5px #9F8E55,
    175px 70px 4px 5px #2E2017,
    180px 70px 4px 5px #3B2613,
    185px 70px 4px 5px #B07B39,
    190px 70px 4px 5px #DEA958,
    195px 70px 4px 5px #EFCA77,
    200px 70px 4px 5px #F3D891,
    205px 70px 4px 5px #EFD79D,
    210px 70px 4px 5px #F4DF97,
    215px 70px 4px 5px #F1DC8F,
    220px 70px 4px 5px #F4DA90,
    225px 70px 4px 5px #F5DE91,
    230px 70px 4px 5px #F4DE8D,
    235px 70px 4px 5px #F8DC8C,
    240px 70px 4px 5px #F6D478,
    245px 70px 4px 5px #F4CB6F,
    250px 70px 4px 5px #F6C568,
    255px 70px 4px 5px #E9B354,
    260px 70px 4px 5px #D29635,
    265px 70px 4px 5px #B37723,
    270px 70px 4px 5px #895E1A,
    275px 70px 4px 5px #573B16,
    280px 70px 4px 5px #382513,
    285px 70px 4px 5px #241913,
    290px 70px 4px 5px #19120C,
    295px 70px 4px 5px #160F09,
    300px 70px 4px 5px #120B06,
    305px 70px 4px 5px #0C0805,
    310px 70px 4px 5px #0D0908,
    315px 70px 4px 5px #0F0B0C,
    320px 70px 4px 5px #0F0B09,
    325px 70px 4px 5px #0D0906,
    330px 70px 4px 5px #120E0B,
    335px 70px 4px 5px #1A1414,
    340px 70px 4px 5px #948657,
    345px 70px 4px 5px #DDD194,
    350px 70px 4px 5px #DDD490,
    355px 70px 4px 5px #D9CF88,
    360px 70px 4px 5px #DCD093,
    365px 70px 4px 5px #D5CC9E,
    370px 70px 4px 5px #DDD1A3,
    375px 70px 4px 5px #DACF97,
    380px 70px 4px 5px #E3D9AA,
    385px 70px 4px 5px #E1D99E,
    390px 70px 4px 5px #E5D99F,
    395px 70px 4px 5px #E8E19E,
    400px 70px 4px 5px #ECE1A0,
    405px 70px 4px 5px #F1E7A3,
    410px 70px 4px 5px #EEE39E,
    415px 70px 4px 5px #ECDE97,
    420px 70px 4px 5px #E8DD97,
    425px 70px 4px 5px #E9DF9A,
    430px 70px 4px 5px #EDE49B,
    435px 70px 4px 5px #F0E9AA,
    440px 70px 4px 5px #F1F0AD,
    445px 70px 4px 5px #E9E9B0,
    450px 70px 4px 5px #EFEFBA,
    455px 70px 4px 5px #EAEAB6,
    460px 70px 4px 5px #EEE8AC,
    465px 70px 4px 5px #E9E0A0,
    470px 70px 4px 5px #E1D78F,
    475px 70px 4px 5px #E0D789,
    480px 70px 4px 5px #DDD28F,
    485px 70px 4px 5px #D7CD88,
    490px 70px 4px 5px #D1C785,
    495px 70px 4px 5px #D5CA8A,

      0px 75px 4px 5px #878B4B,
      5px 75px 4px 5px #788046,
     10px 75px 4px 5px #888F52,
     15px 75px 4px 5px #888844,
     20px 75px 4px 5px #82894E,
     25px 75px 4px 5px #79803F,
     30px 75px 4px 5px #878E46,
     35px 75px 4px 5px #95985F,
     40px 75px 4px 5px #919054,
     45px 75px 4px 5px #A09A5B,
     50px 75px 4px 5px #A9A865,
     55px 75px 4px 5px #A7A669,
     60px 75px 4px 5px #ACA76D,
     65px 75px 4px 5px #B0A76B,
     70px 75px 4px 5px #B4A663,
     75px 75px 4px 5px #AB9C58,
     80px 75px 4px 5px #B4A55F,
     85px 75px 4px 5px #B2A663,
     90px 75px 4px 5px #B3A75F,
     95px 75px 4px 5px #B4AA64,
    100px 75px 4px 5px #BAAD68,
    105px 75px 4px 5px #BBAC69,
    110px 75px 4px 5px #B9B073,
    115px 75px 4px 5px #B4AD69,
    120px 75px 4px 5px #B7B272,
    125px 75px 4px 5px #C2B87F,
    130px 75px 4px 5px #BFB675,
    135px 75px 4px 5px #BFAF69,
    140px 75px 4px 5px #B4B574,
    145px 75px 4px 5px #BCC28F,
    150px 75px 4px 5px #C5C288,
    155px 75px 4px 5px #BFC497,
    160px 75px 4px 5px #BEC798,
    165px 75px 4px 5px #B7BA87,
    170px 75px 4px 5px #4C4528,
    175px 75px 4px 5px #0F0C10,
    180px 75px 4px 5px #513C1B,
    185px 75px 4px 5px #B88532,
    190px 75px 4px 5px #E0AA58,
    195px 75px 4px 5px #F1CC79,
    200px 75px 4px 5px #F2D489,
    205px 75px 4px 5px #F1D78F,
    210px 75px 4px 5px #F1DB86,
    215px 75px 4px 5px #F2DB8A,
    220px 75px 4px 5px #EFD68A,
    225px 75px 4px 5px #EFD686,
    230px 75px 4px 5px #F6DE83,
    235px 75px 4px 5px #F8DA7B,
    240px 75px 4px 5px #FAD675,
    245px 75px 4px 5px #F8CF71,
    250px 75px 4px 5px #F9C969,
    255px 75px 4px 5px #EEB755,
    260px 75px 4px 5px #D99D3B,
    265px 75px 4px 5px #B97D22,
    270px 75px 4px 5px #966A1F,
    275px 75px 4px 5px #6B5120,
    280px 75px 4px 5px #47351B,
    285px 75px 4px 5px #2C2118,
    290px 75px 4px 5px #1C130E,
    295px 75px 4px 5px #1D140F,
    300px 75px 4px 5px #221915,
    305px 75px 4px 5px #120E0B,
    310px 75px 4px 5px #0E0A09,
    315px 75px 4px 5px #120E0F,
    320px 75px 4px 5px #110D0A,
    325px 75px 4px 5px #100C09,
    330px 75px 4px 5px #120E0B,
    335px 75px 4px 5px #100A0A,
    340px 75px 4px 5px #4B3E2C,
    345px 75px 4px 5px #D1C484,
    350px 75px 4px 5px #DFD493,
    355px 75px 4px 5px #D9CE89,
    360px 75px 4px 5px #D4C786,
    365px 75px 4px 5px #CEC38E,